<div class="container d-inline-block">
    <nav class="navbar navbar-light text-uppercase fixed-top"  style="background-color: #177e89" id="mainNav">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >
                <img src="../../../assets/img/logouco.png" width="50" height="50" class="d-inline-block align-center" alt="">
                Practica HTML5
            </a>
            <a class="navbar-brand">Bienvenido A : {{nombre}}</a>
        </div>
    </nav>
</div>
