<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col text-center text-white">
                <p class="h6">Redes Sociales y Contacto</p>
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/AndresGarciAtehortua"
                            target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/angarciate" target="_blank"><i
                                class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/angarciate/" target="_blank"><i
                                class="fab fa-instagram"></i></a></li>
                </ul>
                <p class="h6">Practica con Angular para HTML5</p>
            </div>
            <!--reloj sacado de la pagina web gratuita:
            https://www.zeitverschiebung.net/es/clock-widget?size=medium&timezone=America/Bogota&type=city&id=3674962#location-->
            <div class="col text-center text-white">
                <h3><a style="text-decoration:none;" href="https://www.zeitverschiebung.net/es/city/3674962"><span>
                            Hora y Fecha actual en</span><br />Medellín, Colombia -></a></h3>
            </div>
            <div class="col text-center text-white">
                <iframe
                    src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=medium&timezone=America%2FBogota"
                    width="100%" height="115" frameborder="0" seamless></iframe>
            </div>
        </div>
    </div>
</footer>