/*paleta de colores sacada de: https://coolors.co/a0e869-3798a1-ff564e-fedb6a*/
.invalido{
    background-color:#fedb6a
}
.perdio{
    background-color: #ff564e
}
.paso{
    background-color: #a0e869
}